name: CD Workflow

on:
  push:
    branches:
      - 'release/**'

jobs:
  cd-deploy-test:
    name: Deploy to TEST
    runs-on: ubuntu-latest
    environment: test
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.12'

      - name: Install Databricks CLI
        uses: databricks/setup-cli@main

      - name: Configure Databricks
        run: |
          # write out the profile (here called "TEST")
          cat <<EOF > ~/.databrickscfg
          [TEST]
          host = https://dbc-e3f9f6a4-4aca.cloud.databricks.com/
          account_id = ${{ secrets.ACCOUNT_ID }}
          client_id = ${{ secrets.CLIENT_ID }}
          client_secret = ${{ secrets.CLIENT_SECRET }}
          EOF

      - name: Deploy to TEST
        run: |
          cd HeroMotoComp
          databricks bundle deploy \
            --target test \
            --profile TEST

  cd-deploy-prod:
    name: Deploy to PROD
    needs: cd-deploy-test
    runs-on: ubuntu-latest
    environment: prod
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Install Databricks CLI
        uses: databricks/setup-cli@main

      - name: Configure Databricks
        run: |
          # write out the profile (here called "PROD")
          cat <<EOF > ~/.databrickscfg
          [PROD]
          host = https://dbc-e3f9f6a4-4aca.cloud.databricks.com/
          account_id = ${{ secrets.ACCOUNT_ID }}
          client_id = ${{ secrets.CLIENT_ID }}
          client_secret = ${{ secrets.CLIENT_SECRET }}
          EOF

      - name: Deploy to PROD
        run: |
          cd HeroMotoComp
          databricks bundle deploy \
            --target prod \
            --profile PROD
